<h1>Mentee</h1>

<%= form_with model: @mentee do |mentee| %>
  <div>
    <%= form_label :name%><br>
    <%= form_text_field :name%>
  </div>

  <div>
    <%= form_label :email%><br>
    <%= form_text_field :name%>
  </div>
<%end%>
